.book-item-img {
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
li {
    list-style: none;
  }
.row {
    margin: 0px;
}
.book-content{
    padding-bottom: 20px;
    border-bottom: 1px solid #eae8e4;
}
.book-infor {
    margin-top: 50px;
}

.book-name {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
}
.author-name{
    font-size: 1rem;
    color: black;
}

a:hover {
    color: deeppink;
}

.book-author {
    padding-bottom: 12px;
}

.checked {
    color: orange;
}

.book-intro {
    width: 85%;
    font-size: 1.3rem;
    padding-bottom: 18px;
}

.book-infor button {
    margin-left: 0px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 12px;
    background-color: rgb(12, 12, 32);
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 10px;
}

.book-infor button:hover {
    opacity: 0.8;
}
.book-des{
    border: 1px solid #eae8e4!important;
}
.other{
    padding: 0!important;
}
.tabs {
    display: flex;
    position: relative;
}


.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    color: black;
    background-color: #fff;
    opacity: 0.6;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
    border-bottom: 1px solid #161619;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    color: #333;
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top:1px solid #eae8e4!important;

}

.tab-pane.active {
    display: block;
}
.tab-pane p{
    padding: 12px;
    font-size: 1rem;
}
.book-rate{
    margin-left: 12px;
}
.otherbook-heading{
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 12px;
}
.otherbook{
    border: 1px solid #eae8e4!important;
    padding: 1.875rem;
}
.media{display: flex;}
.otherbook-img{
    width: 60px;
    height: 80px;
}
.otherbook-infor{
    padding-left: 1rem;
}
ul{
    padding: 0px;
}
.otherbook-name{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}
.otherbook-author{
    font-size: 0.8rem;
    font-weight: 400;
}