.categories{
    background-color:white;
    position: relative;
    margin-bottom: 5%;
}
.categories-description--1{
    font-weight: normal;
    font-size: 2.6rem;
    text-align: center;
    color: #000000;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
.categories-description--2{
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    padding-left: 10%;
    padding-right: 10%;
}
.input-search{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    text-align: center;
    position: relative;
    border-radius: 5px ;
    padding-right: 2%;
    padding-left: 2%;
}
@media only screen and (min-width: 1600px){
    .input-search{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;

    }
  }
.filter-pane{
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    overflow: hidden;
    height: auto;
    overflow-y: auto;
    max-height: 700px;
 }
 .filter-pane-list{
    border-bottom: 1px solid #D8D8D8;
    position: relative;
}
.filter-pane-categories-name{
    margin-left: 10%;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.filter-pane-categories-item{
    list-style-type: none;
}
.filter-pane-categories-item-link{
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 27px;
    color: #000000;
}
@media only screen and (max-width: 768px){
    *{
        font-size: 10px;
    }
  }
@media only screen and (max-width: 576px){
    *{
        font-size: 10px;
    }
    .filter-pane{
        display: none;
    }
    .input-search{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    }
}
@media only screen and (max-width: 300px){
    *{
        font-size: 10px;
    }
}
/* results */
.results{
    position: relative;
    padding-left: 5%;
    padding-right: 10%;
    border: 1px solid #CBCBCB;
}
.results-option{
    margin: 2%;
}
.results-label{
    font-size: 1.3rem;
    color: #000000;
    margin-left: 7%; 
}
.results-dropdown{
    padding-top: 1%;
    margin-left: 7%;
}
.dropdown-toggle{
    border: 1px solid #E0E0E0; 
}
.results{
    border: 1px solid #CBCBCB;
}
.results-books-list{
    display: block;
    margin-left: 5%;
}
.book-list-item{
<<<<<<< HEAD
    text-decoration: none;
=======
    text-decoration: none;    
>>>>>>> feature/search
}
.p-2{
    border: 1px solid #E0E0E0;
}
.book-item-img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.book-item-topic {
    text-align: center;
    margin-top: 2%;
    font-size: 0.7rem;
    color: #FF0000;
  
}
.book-item-name {
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
}
.book-item-author {
    text-align: center;
    font-size: 0.8rem;
    color: #727272;
<<<<<<< HEAD
}
.book-item-status{
    text-align: center;
    color: #FF5959;
    font-size: 0.8rem;
}
=======
  }
.book-item-status{
    text-align: center;
    color: #59FF6A;
    font-size: 0.8rem;
}

>>>>>>> feature/search
.pagination{
   align-items: center;
   justify-content: center;
}
.page-link{
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
    
  