.routes {
  display: flex;
  flex-direction: column;
}

.navbar-icon {
  color: black;
  margin: 0px 12px;
  align-items: center;
}

.navbar {
  padding: 0px;
}

.navbar-toggler {
  margin: 5px;
}

.menubar {
  background-color: #fff;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.nav-item {
  padding: 0px 30px;
  font-size: 1.2rem;
  position: relative;
  line-height: 46px;
  display: inline block;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-icon:hover {
  color: deeppink;
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: deeppink;
}

.nav-icon {
  margin: 0 0 0 18px;
}

li {
  list-style: none;
}

li:hover .category-nav {
  display: block;
}

.category-nav {
  display: none;
  position: absolute;
  padding: 8px;
  background-color: #fff;
  min-width: 160px;
  border: 1px solid #d3d3d3;
  z-index: 1;
  min-width: 150px;
}

.category-nav li a:hover {
  color: deeppink;
}

.category-nav li a {
  padding: 12px;
  text-decoration: none;
  color: black;
}
.hide-nav{
  display: none;
}
.carousel-item{
  position: relative;
  height: 0;
  padding-bottom: 35%;
} 

.carousel-item .img-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
}

.carousel-item .img-inner img {
  display: none;
}
.carousel-indicators{
  display: none;
}

.section-heading {
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 60px;
  padding-bottom: 15px;
}

.section-sub-heading {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 0px;
  padding-bottom: 30px;
}

.tabs {
  display: flex;
  position: relative;
}



.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 1.2rem;
  color: black;
  background-color: #fff;
  opacity: 0.6;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
  opacity: 1;
  border-bottom: 1px solid #161619;
}

.tab-content {
  padding: 28px 0;
}

.tab-pane {
  color: #333;
  display: none;
}

.tab-pane.active {
  display: block;
}


.card-img, .card-img-top {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.card{
  border: none;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
}
.p-2{
  padding: 1rem !important
}
.book-list-item:hover {
  border-color: rgb(12, 12, 32);
  background-color: snow;
}

.book-item-topic {
  left: 47px;
  top: 222px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 300;
  font-size: 0.6rem;
  line-height: 13px;
  color: deeppink;

}

.book-item-name {

  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 21px;
  color: #000000;
}

.book-item-author {

  font-family: Segoe UI;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 13px;
  color: #727272;
}


.book-list-item p {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-left: 12px;
}

.author-item-img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.author-list-item {
  border: none;
  box-shadow: none;
}

.author-item-name {
  padding-top: 25px;
}
.author-item-name:hover{
  color: deeppink;
}
.button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(12, 12, 32);
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 8px 30px;
  border-radius: 10px;
}

.button:hover {
  opacity: 0.9;
}

.author-content {
  text-align: center;
}

.feedback-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-infor {
  display: flex;
}

.form-infor-email {
  width: 100%;
  margin-bottom: 12px;
}

.form-infor-name {
  width: 100%;
}

.form-infor input {
  padding: 10px;
}

.form-infor-message {
  width: 100%;
  margin-top: 12px;
}

.col_white_amrc {
  color: #FFF;
}

.footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
  margin-left: 0;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.padding-right {
  padding-right: 10px;
}
@media (max-width: 991px) { 
.hide-nav{
  display: block;
}
.nav-icon{
  display: none!important;
}
.category-nav{
  position: initial;
}
.nav-item{
text-align: center;
}
}
 @media (max-width: 770px) { 
  .feedback-form{
    width: 100%;
  }
   }