li{
    list-style: none;
}
a{
    text-decoration: none;
}
.profile-heading-subcontent {
    font-size: 1.4rem;
}

.profile-heading {
    padding-top: 60px;
    padding-bottom: 30px;
}

.profile-main {
    border-top: 1px solid #eae8e4 !important;
}

.profile-item {
    padding-top: 20px;
}

.profile-item-name {
    min-width: 100px;
    padding-bottom: 16px;
    font-size: 1.2rem;
    color: black;
    opacity: 0.6;
    cursor: pointer;
}

.profile-item-name:hover {
    opacity: 1;
}

.profile-item-name.active {
    opacity: 1;
}

.profile-content {
    padding: 20px 40px 20px 40px;
    border: 1px solid #eae8e4 !important;
}

.profile-pane {
    display: none;
}

.profile-pane.active {
    display: block;
}

.form-group .label {
    font-size: 1.2rem;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #b9b8b8;
}

.form-submit {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(12, 12, 32);
    color: #fff;
    border: none;
    font-size: 1.1rem;
    padding: 8px 30px;
    border-radius: 10px;
    width: 100%;
}
.form-submit:hover{
    opacity: 0.8;
}
.other{
    padding: 0;
}
.otherbook{
    border: 1px solid #eae8e4!important;
    padding-left: 1.875rem;
    padding-top: 20px;
}
.otherbook-heading{
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 12px;
}
.media{display: flex;}
.otherbook-img{
    width: 60px;
    height: 80px;
}
.otherbook-infor{
    padding-left: 1rem;
}
ul{
    padding: 0px;
}
.otherbook-name{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}
.otherbook-author{
    font-size: 0.8rem;
    font-weight: 400;
}