@font-face {
  font-family: "Segoe UI Regular";
  src: url("../assets/Segoe\ UI/segoeui.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("../assets/Segoe\ UI/segoeuib.ttf");
}

@font-face {
  font-family: "Segoe UI Light";
  src: url("../assets/Segoe\ UI/segoeuil.ttf");
}

@font-face {
  font-family: "Segoe UI Semilight";
  src: url("../assets/Segoe\ UI/segoeuisl.ttf");
}

@font-face {
  font-family: "Segoe UI Semibold";
  src: url("../assets/Segoe\ UI/seguisb.ttf");
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
}
.heading .greetings {
  font-family: "Segoe UI Semibold";
  font-size: 40px;
  margin-bottom: 0px;
}

.heading .content {
  font-family: "Segoe UI Light";
  font-size: 20px;
  color: #858585;
}


.main {
  border-top: 1px solid #eae8e4 !important;
}

.option {
  padding-top: 20px;
}

.option .option-name {
  min-width: 100px;
  padding-bottom: 16px;
  font-size: 1.2rem;
  color: #858585;
  font-family: "Segoe UI Light";
  cursor: pointer;
}

.option .option-name:hover {
  color: black;
}

.option .option-name.active {
  color: black;
  font-family: "Segoe UI";
  text-decoration: underline;
}

.order {
  padding: 20px 40px 20px 40px;
  border-left: 1px solid #eae8e4;
}

.detail {
  display: none;
}

.detail.active {
  display: block;
}

.detail .title {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.detail .title .name {
  float: left;
  width: 80%;
}

.detail .title .name .index{
  font-family: "Segoe UI";
  font-size: 30px;
}

.detail .title .name .info{
  font-family: "Segoe UI Light";
  font-size: 12px;
}


.detail .title .status {
  float: left;
  width: 20%;
  margin-top: 4%;
  font-family: "Segoe UI Light";
  font-size: 20px;
  color: #7879F1;
}

.detail .item {
  margin-top: 20px;
}

.detail .item .mb-0 .media .info {
  margin-top: 10px;
  float: left;
  width: 80%;
}

.detail .item .mb-0 .media .info .category{
  font-family: "Segoe UI Light";
  color: #ff0000;
  font-size: 10px;
  margin-bottom: 0px;
}

.detail .item .mb-0 .media .info .name{
  font-family: "Segoe UI";
  color: black;
  font-size: 24px;
  margin-top: 0px;
}

.detail .item .mb-0 .media .info .author{
  font-family: "Segoe UI Light";
  color: #727272;
  font-size: 12px;
}

.detail .item .mb-0 .media .status {
  margin-top: 35px;
  margin-right: 10px;
  float: left;
  width: 20%;
  font-family: "Segoe UI Light";
  text-align: center;
  color: #7879F1;
}

.other{
  padding: 0;
}
.otherbook{
  border: 1px solid #eae8e4!important;
  padding-left: 1.875rem;
  padding-top: 20px;
}
.otherbook-heading{
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 12px;
}
.media{display: flex;}
.otherbook-img{
  width: 60px;
  height: 80px;
}
.otherbook-infor{
  padding-left: 1rem;
}
ul{
  padding: 0px;
}
.otherbook-name{
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
.otherbook-author{
  font-size: 0.8rem;
  font-weight: 400;
}