@font-face {
  font-family: "Segoe UI Regular";
  src: url("/assets/Segoe\ UI/segoeui.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("/assets/Segoe\ UI/segoeuib.ttf");
}

@font-face {
  font-family: "Segoe UI Light";
  src: url("/assets/Segoe\ UI/segoeuil.ttf");
}

@font-face {
  font-family: "Segoe UI Semilight";
  src: url("/assets/Segoe\ UI/segoeuisl.ttf");
}

@font-face {
  font-family: "Segoe UI Semibold";
  src: url("/assets/Segoe\ UI/seguisb.ttf");
}

.routes {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
}
.navbar-icon {
  color: white;
  margin: 0px 12px;
  align-items: center;
}

.navbar {
  height: 60px;
  top: 0px;
  padding: 0px;
}

.navbar-toggler {
  margin: 5px;
}

.menubar {
  background: linear-gradient(269.45deg, #303033 50.00%,#111114 100%);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-left: 15px;
  font-family: "Segoe UI Semibold";
}

.nav-item {
  padding: 0px 30px;
  font-family: 'Segoe UI Light';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 46px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-icon:hover {
  color: deeppink;
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: rgb(145, 145, 145);
}

.nav-icon {
  margin: 0 0 0 18px;
  color: #FFF;
}

li {
  list-style: none;
}

li:hover .category-nav {
  display: block;
}

.category-nav {
  display: none;
  position: absolute;
  padding: 8px;
  background-color: #fff;
  min-width: 160px;
  border: 1px solid #d3d3d3;
  z-index: 1;
  min-width: 150px;
}

.category-nav li a:hover {
  color: deeppink;
}

.category-nav li a {
  padding: 12px;
  text-decoration: none;
  color: black;
}
.hide-nav{
  display: none;
}

.detail {
  position: relative;
  width: 100%;
  height: 900px;
}

.detail .background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(50px) brightness(0.5);
}

.detail .cover {
  position: absolute;
  height: 700px;
  width: 500px;
  object-fit: cover;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.detail .info {
  position: absolute;
  margin-left: 900px;
  margin-top: 100px;
  width: 800px;
}

.detail .info .name {
  font-family: "Segoe UI Semibold";
  color: white;
  font-size: 40px;
}

.detail .info .quote {
  font-family: "Segoe UI Light";
  color: white;
  font-size: 20px;
  padding-bottom: 30px;
}

.detail .info .description {
  font-family: "Segoe UI Light";
  text-align: justify;
  color: white;
  font-size: 26px;
}

.detail .options{
  position: absolute;
  margin-left: 900px;
  margin-top: 600px;
}

.detail .options .see-books {
  background-color: #e7e7e731;
  color: white;
  border: 1px solid white;
  font-size: 1.1rem;
  padding: 8px 90px;
  font-family: "Segoe UI Light";
  margin-right: 20px;
}

.detail .options .learn-more {
  background-color: #e7e7e731;
  color: white;
  border: 1px solid white;
  font-size: 1.1rem;
  padding: 8px 80px;
  font-family: "Segoe UI Light";
  margin-right: 20px;
}

.detail .options .share {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  font-size: 1.1rem;
  padding: 8px 100px;
  font-family: "Segoe UI Light";
}

.books {
  position: relative;
  height: auto;
  min-height: 500px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}

.books .list {
  padding: 20px 10px 10px 30px;
  text-align: justify;
  position: relative;
  top: 60px;
  margin: auto;
  width: 80%;
  min-height: 300px;
  border: 1px solid #cbcbcb;
}

.books .list .show-options {
  font-family: "Segoe UI Light";
}

.books .list .row {
  max-width: 90%;
  width: auto;
}

.books .list .row .col-sm-4 {
  width: 200px;
}

.books .list .item {
  border: 1px solid #cbcbcb;
  text-align: left;
  padding: 20px;
  height: 300px;
  width: 200px;
}

.books .list .item .topic{
  color: #ff0000;
  font-family: "Segoe UI Light";
  font-size: 13px;
  padding-top: 15px;
  line-height: 0px;
  padding-bottom: 8px;
}

.books .list .item .title{
  color: black;
  font-family: "Segoe UI Regular";
  font-size: 26px;
  line-height: 0px;
  padding-bottom: 8px;
}

.books .list .item .availablility{
  color: #ff0000;
  font-family: "Segoe UI Light";
  font-size: 13px;
  padding-top: 2px;
}


.footer {
  width: 100%;
  position: relative;
}
.footer .footer-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer .feedback {
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.footer .feedback .content-heading .head1 {
  font-family: "Segoe UI Semibold";
  color: #fff;
  text-align: center;
  font-size: 35px;
  padding-top: 60px;
}

.footer .feedback .content-heading .head2 {
  font-family: "Segoe UI Light";
  color: #d1d1d1;
  text-align: center;
  font-size: 15px;
  padding-bottom: 30px;
}

.footer .feedback .feedback-form {
  text-align: center;
}::placeholder {
  color: #e7e7e7;
  font-family: "Segoe UI Light";
}

.footer .feedback .feedback-form .information .email{
  width: 100%;
  background-color: #e7e7e731;
  border: 1px solid white;
  height: 50px;
  padding: 10px;
  color:#d2d2d2;
  font-family: "Segoe UI Light";
}

.footer .feedback .feedback-form .information .name{
  width: 100%;
  background-color: #e7e7e731;
  border: 1px solid white;
  height: 50px;
  padding: 10px;
  color:#d2d2d2;
  font-family: "Segoe UI Light";
}

.footer .feedback .feedback-form .content .message {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #e7e7e731;
  border: 1px solid white;
  min-height: 200px;
  padding: 10px;
  color:#d2d2d2;
  font-family: "Segoe UI Light";
}
 
.footer .feedback .feedback-form .button {
  background-color: #e7e7e731;
  color: white;
  border: 1px solid white;
  font-size: 1.1rem;
  padding: 8px 50px;
  font-family: "Segoe UI Light";
  margin-top: 15px;
}

.footer .feedback .feedback-form .button:hover {
  opacity: 0.6;
}

.footer .bottom_border {
  position: relative;
}

.col_white_amrc {
  color: white;
  font-family: "Segoe UI Regular";
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

.footer p {
  font-family: "Segoe UI Light";
  font-size: 13px;
  color: #d0d0d0;
  padding-bottom: 0px;
  margin-bottom: 8px;
  margin-left: 0;
}

.footer_ul_amrc {
  font-family: "Segoe UI Light";
  font-size: 13px;
  color: #d0d0d0;
  margin: 0px;
  list-style-type: none;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.padding-right {
  padding-right: 10px;
}
@media (max-width: 991px) { 
  .hide-nav{
    display: block;
  }
  .nav-icon{
    display: none!important;
  }
  .category-nav{
    position: initial;
  }
  .nav-item{
    text-align: center;
  }
}
@media (max-width: 770px) { 
  .feedback-form{
    width: 100%;
  }
}